<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Media Automation</title>

    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="static/css/templatemo-style.css">
    <!-- Templatemo style -->
</head>
<body>


<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <header class="text-center tm-site-header">
                <div class="tm-site-logo"></div>
                <h1 class="pl-4 tm-site-title">Social Media Automation</h1>
            </header>
        </div>
    </div>

    <div class="container tm-container-2">

        <div style="width: 600px">
            <p>
            <h2 class="tm-welcome-text">Instagram Posts' Analysis</h2>
            </p>
            <canvas id="myChart"></canvas>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <h2 class="tm-welcome-text">Instagram Posts <i style="color: red">[User Account : {{ instagram_username
                    }}]</i></h2>
            </div>
        </div>

        <div class="row" style="display: none">
            <div class="col-lg-12">
                <input style="background-color: light-blue; padding: 10px"
                       type="button"
                       value="Start Fetching Data" onclick="getData()"/>
            </div>
        </div>

        <div class="row tm-section-mb">
            <div class="col-lg-12">

                {% block content %}
                {% for post in posts %}
                <div class=" tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        {% if post['media_type'] == 'IMAGE' %}
                        <img src="{{ post['media_url'] }}" alt="Image" class="rounded-circle tm-img-timeline">
                        {% else %}
                        <img src="{{ post['thumbnail_url'] }}" alt="Image" class="rounded-circle tm-img-timeline">
                        {% endif %}
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark tm-timeline-description">
                                <h3 class="tm-text-green tm-font-400">Title : {{ post['caption'] }}</h3>
                                <p><a href="{{ post['permalink'] }}">Link to original post</a></p>
                                <p>Media Type : {{ post['media_type'] }}</p>
                                <p>User Name : {{ post['username'] }}</p>
                                <p>Post ID : {{ post['id'] }}</p>
                                <p class="tm-text-green float-right mb-0">Posted On : {{ post['timestamp'] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="tm-timeline-connector-vertical"></div>
                </div>
                {% endfor %}
                {% endblock %}

                <div class=" tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="static/img/img-01.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark tm-timeline-description">
                                <h3 class="tm-text-green tm-font-400">Title : Nulla venenatis</h3>
                                <p><a href="#">Link to original post</a></p>
                                <p>Media Type : IMAGE</p>
                                <p>User Name : mac.window.112022</p>
                                <p>Post ID : 18325478134037154</p>
                                <p class="tm-text-green float-right mb-0">Posted On : 2022-10-15T11:00:10+0000</p>
                            </div>
                        </div>
                    </div>

                    <div class="tm-timeline-connector-vertical"></div>
                </div>

                <div class="tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="static/img/img-02.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark-light tm-timeline-description">
                                <h3 class="tm-text-green tm-font-400">Title : Vestibulum ante ipsum</h3>
                                <p><a href="#">Link to original post</a></p>
                                <p>Media Type : IMAGE</p>
                                <p>User Name : mac.window.112022</p>
                                <p>Post ID : 18325478134037129</p>
                                <p class="tm-text-green float-right mb-0">Posted On : 2022-10-13T21:00:10+0000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tm-timeline-connector-vertical"></div>
                </div>

                <div class="tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="static/img/img-03.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark tm-timeline-description">
                                <h3 class="tm-text-green tm-font-400">Title : Pellentesque accumsan convallis</h3>
                                <p><a href="#">Link to original post</a></p>
                                <p>Media Type : IMAGE</p>
                                <p>User Name : mac.window.112022</p>
                                <p>Post ID : 18325478134037199</p>
                                <p class="tm-text-green float-right mb-0">Posted On : 2022-10-12T07:00:10+0000</p>
                            </div>
                        </div>
                    </div>
                    <div class="tm-timeline-connector-vertical"></div>
                </div>

                <div class="tm-timeline-item">
                    <div class="tm-timeline-item-inner">
                        <img src="static/img/img-04.jpg" alt="Image" class="rounded-circle tm-img-timeline">
                        <div class="tm-timeline-connector">
                            <p class="mb-0">&nbsp;</p>
                        </div>
                        <div class="tm-timeline-description-wrap">
                            <div class="tm-bg-dark-light tm-timeline-description">
                                <h3 class="tm-text-green tm-font-400">Title : Nulla venenatis</h3>
                                <p><a href="#">Link to original post</a></p>
                                <p>Media Type : IMAGE</p>
                                <p>User Name : mac.window.112022</p>
                                <p>Post ID : 18325478134037110</p>
                                <p class="tm-text-green float-right mb-0">Posted On : 2022-10-10T08:00:10+0000</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--  row -->
        <hr>
        <div class="row tm-section-mb tm-section-mt">
            <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                <h3 class="mt-2 mb-3 tm-text-gray">Nunc dictum consequat</h3>
                <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum.
                    In
                    pharetra neque et eleifend venenatis.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                <h3 class="mt-2 mb-3 tm-text-gray">Morbi ultrices tellus</h3>
                <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum.
                    In
                    pharetra neque et eleifend venenatis.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="mt-2 mb-3 tm-text-gray">Suspendisse dolor tortor</h3>
                <p>Integer imperdiet aliquet lobortis. In in metus risus. Pellentesque pulvinar venenatis dui id rutrum.
                    In
                    pharetra neque et eleifend venenatis.</p>
            </div>
        </div>

        <hr>
        <!-- Footer -->
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                    <span class="tm-current-year">2018</span> Your Company Name

                    | Design: <a href="http://templatemo.com/tm-517-timeless" class="tm-text-white">Timeless</a>
                </p>
            </div>
        </footer>

    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script>
    $( document ).ready(function() {
        console.log( "ready!" );
        getData();
    });

    function getData() {
        console.log('getData');
        $.ajax({
            type: 'GET',
            url: 'get_barchart_data',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                const ctx = $('#myChart');
                const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Engagement', 'Impressions', 'Reach', 'Posts Saved', 'Videos Views'],
                    datasets: [{
                        label: 'Posts',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                      title: {
                        display: true,
                        text: 'Analysis performed on data since 01 Sep 2022',
                        font: {
                            size: 16,
                            family: 'tahoma',
                            weight: 'normal',
                            style: 'italic'
                        }
                      }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            }
        });
    }








    </script>
</body>
</html>